FROM
人力资源部 <{from}>

TO
{邮箱}

SUBJECT
10月工资单

CONTENT
亲爱的{姓名}你好,

感谢你本月的辛勤工作，创业维艰，奋斗的海盗辛苦啦！

本月薪资明细如下：

出勤天数：{当月计薪天数}
基本工资：{当月基本工资}

奖金部分：
其他奖：{其他奖励}
内推奖：{内推奖}
专利奖：{专利奖}

补贴部分：
差旅补贴：{差旅补贴}
生活补贴：{生活补贴}
其他补贴：{其他补贴}
双外学生住宿补贴：{双外住宿补贴}

其他税前收入：{其他税前收入}
税前应发工资合计：{应发工资合计}

税后实发：{税后实发工资}


Best regards,

人力资源部
